In [2]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [5]:
data=pd.read_csv('Bank File.csv',header=0)

In [6]:
data.head()

    Salary  Account Balance  Credit Score  Payment Pending  Fraud
0  3.62160           8.6661       -2.8073         -0.44699      0
1  4.54590           8.1674       -2.4586         -1.46210      0
2  3.86600          -2.6383        1.9242          0.10645      0
3  3.45660           9.5228       -4.0112         -3.59440      0
4  0.32924          -4.4552        4.5718         -0.98880      0

In [7]:
data.shape

(1372, 5)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
Salary             1372 non-null float64
Account Balance    1372 non-null float64
Credit Score       1372 non-null float64
Payment Pending    1372 non-null float64
Fraud              1372 non-null int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [11]:
data.describe()

,Salary,Account Balance,Credit Score,Payment Pending,Fraud
count,1372.000000,1372.000000,1372.000000,1372.000000,1372.000000
mean,0.433735,1.922353,1.397627,-1.191657,0.444606
std,2.842763,5.869047,4.310030,2.101013,0.497103
min,-7.042100,-13.773100,-5.286100,-8.548200,0.000000
25%,-1.773000,-1.708200,-1.574975,-2.413450,0.000000
50%,0.496180,2.319650,0.616630,-0.586650,0.000000
75%,2.821475,6.814625,3.179250,0.394810,1.000000
max,6.824800,12.951600,17.927400,2.449500,1.000000

In [10]:
data.corr()

,Salary,Account Balance,Credit Score,Payment Pending,Fraud
Salary,1.000000,0.264026,-0.380850,0.276817,-0.724843
Account Balance,0.264026,1.000000,-0.786895,-0.526321,-0.444688
Credit Score,-0.380850,-0.786895,1.000000,0.318841,0.155883
Payment Pending,0.276817,-0.526321,0.318841,1.000000,-0.023424
Fraud,-0.724843,-0.444688,0.155883,-0.023424,1.000000

In [12]:
col_names=['Salary','Account Balance','Credit Score','Payment Pending','Fraud']
data.columns=col_names

In [13]:
feature_cols=['Salary','Account Balance','Credit Score','Payment Pending']

In [14]:
Y=data['Fraud']
X=data.drop('Fraud',axis=1)

In [16]:
print(X.head())
print(Y.head())

    Salary  Account Balance  Credit Score  Payment Pending
0  3.62160           8.6661       -2.8073         -0.44699
1  4.54590           8.1674       -2.4586         -1.46210
2  3.86600          -2.6383        1.9242          0.10645
3  3.45660           9.5228       -4.0112         -3.59440
4  0.32924          -4.4552        4.5718         -0.98880
0    0
1    0
2    0
3    0
4    0
Name: Fraud, dtype: int64

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

In [19]:
rf=RandomForestClassifier(n_estimators=100)
rf.fit(X_train,y_train)
y_pred_rf = rf.predict(X_test)

In [20]:
y_pred_rf

array([1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [21]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_rf))
print("Precision:",metrics.precision_score(y_test, y_pred_rf))
print("Recall:",metrics.recall_score(y_test, y_pred_rf))

Accuracy: 0.9951456310679612
Precision: 0.9888268156424581
Recall: 1.0

In [23]:
rf_tune = RandomForestClassifier(n_estimators=150, bootstrap = True, criterion= 'entropy', 
                                 max_depth= 20, max_features= 3, min_samples_split= 2)

rf_tune.fit(X_train, y_train)

y_pred_rf_tune = rf_tune.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred_rf_tune))

Accuracy: 0.9975728155339806